:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --lightcream: #ececec;
  --notblack: #212121;
  --notwhite: #f5f4fa;
  --footerlinks: #ffffff99;
  --productborder: #eeeeee;
  --background: #2f303a66;
  --iconcolor: #afb1b8;
  --footericon: #ffffff1a;
}

/* Global styles used throughout whole website ---------------------*/

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--grey);
  background-color: var(--lightgrey);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.whole-page-main {
  background-color: var(--white);
  width: 1600px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.section-portfolio {
  padding: 50px 0 94px 0;
}
.section-buttons {
  padding: 94px 0 0 0;
}
.section-about-us {
  padding: 94px 0 0 0;
}
.whole-page {
  width: 1600px;
  margin: 0 auto;
  background-color: var(--white);
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.no-margin {
  margin: 0;
}
.footer-type:hover,
.footer-type:focus,
.text-blue:hover,
.text-blue:focus {
  color: var(--blue);
}
.header {
  align-items: center;
  gap: 93px;
  flex-direction: row;
  padding: 25px 0 24px 0;
  display: flex;
}
.header-border {
  width: 100%;
  border-bottom: 1px solid var(--lightcream);
}
.logo-style {
  font-family: "Raleway";
  color: var(--black);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;
}
.text-blue {
  color: var(--blue);
}
.link-style {
  color: var(--notblack);
  font-weight: 500;
}
.nobull {
  list-style-type: none;
}
.nav-style {
  gap: 46px;
  line-height: 1.2;
  padding: 0;
}
.nav-list {
  display: flex;
  list-style: none;
  line-height: 1.2;
  margin: 0;
}
.nav-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  bottom: 0;
  left: 0;
  transform: translateY(29px);
  border-radius: 2px;
}
.contacts-style {
  gap: 50px;
  padding: 0 0 0 278px;
  margin: 0;
}
.contact-link-style {
  color: var(--grey);
  font-weight: 500;
}
.link-no-underline {
  text-decoration: none;
}
.icons-header {
  fill: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-link-style:hover,
.contact-link-style:focus {
  fill: var(--blue);
}
.icon-spacing {
  margin-right: 1px;
}
.content-icon {
  margin-right: 1px;
}
.header-separator {
  border-bottom: solid 1px var(--lightcream);
}
.top-section {
  background-color: #2f303a;
  padding: 200px 452px 200px 452px;
  background-image: linear-gradient(to bottom, #2f303a66 0%, #2f303a66 100%),
    url("../images/main/solution-background.jpg");
  background-size: 1600px;
  color: var(--white);
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}
.top-section-text {
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 1.364;
  letter-spacing: 0.06em;
}
.button-type-order {
  font-family: "Roboto";
  background: #2196f3;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 41px 10px 42px;
}
.top-section button:hover,
.top-section button:focus {
  background: #f5f4fa;
  box-shadow: 0px 3px 1px #2196f31a, 0px 1px 2px #2196f314,
    0px 2px 2px #2196f31f;
  border-radius: 4px;
  color: #212121;
}

/* Top
 web section + order button----------------------------------------- */

.our-services {
  align-items: center;
  flex-direction: column;
}
.our-services-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  margin: 0;
  justify-content: space-between;
}
.figure-size {
  height: 294px;
  width: 370px;
}
.img-description {
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  height: 70px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  padding: 27px 0;
  top: -72px;
}
.content {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--notblack);
  margin: 0px 0 50px 0;
}
.content-header {
  font-weight: 700;
  color: var(--notblack);
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 1.1428571428571428;
}
.content-text {
  line-height: 0.03em;
  line-height: 1.71;
  width: 270px;
  margin: 0;
}
.center {
  justify-content: center;
}
.no-padding {
  padding: 0;
}
div {
  display: block;
}
.buttons-type {
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style: none;
}
.button-type {
  background-color: var(--notwhite);
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border-radius: 3px;
  padding: 6px 22px;
  font-family: "Roboto";
}
.button-type:focus,
.button-type:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

/* Button + style box + pointer --------------------------------------------*/

.our-crew-background {
  background-color: var(--notwhite);
}
.our-crew {
  align-items: center;
  flex-direction: column;
}
.our-crew-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  justify-content: center;
}
.our-crew-list-name {
  margin: 30px 0 10px 0;
  color: var(--notblack);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
}
.our-crew-list-proffesion {
  margin: 0 0 30px 0;
  line-height: 1.1875;
  font-size: 16px;
}
.crew-member-part {
  position: relative;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin: 0;
}
.our-crew-icons {
  display: flex;
  justify-content: center;
  margin: 16px 0 30px 0;
  grid-gap: 10px;
}
.our-crew-icon {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  fill: var(--iconcolor);
}
/* Crew part style  ----------------------------------------------------------*/

.product-portfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
}
.product-part {
  border: var(--productborder) solid 1px;
  width: 370px;
  height: 404px;
}
.product-part:hover,
.product-part:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.portfolio-img-title {
  color: var(--darkgrey);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
}
.portfolio-part-info {
  color: var(--grey);
  font-size: 16px;
}
.portfolio-h4-margin {
  margin: 20px 0 4px 24px;
}
.portfolio-p-margin {
  margin: 0 0 0 24px;
  line-height: 1.88;
}
.product-info {
  width: 370px;
  height: 294px;
  position: absolute;
  overflow: hidden;
}
.product-hover {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-size: 18px;
  line-height: 1.6;
  padding: 20px 0 0 24px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
}
.product-info:hover .product-hover {
  transform: translateY(0);
}

/* Product+portfolio style --------------------------------------------*/

.our-clients-container {
  padding: 94px 0 94px 0;
  width: 1200px;
  margin: 0 auto;
}
.container-clients {
  padding: 0px 0 94px 0;
  display: flex;
  justify-content: center;
}
.clients-logos {
  display: flex;
  gap: 30px;
  list-style: none;
}
.clients-logo {
  border-radius: 4px;
  border: var(--iconcolor) solid 1px;
  width: 170px;
  height: 92px;
  fill: var(--iconcolor);
}
.clients-logo:hover,
.clients-logo:focus {
  fill: var(--blue);
  border: var(--blue) solid 1px;
}
/* clients part --------------------------------------------*/

.footer {
  width: 100%;
  background-color: var(--darkgrey);
  padding: 60px 0;
}
.footer-container {
  flex-direction: column;
  color: var(--white);
}
.white-style-logo {
  color: var(--white);
}
.address-style {
  margin: 20px 0 0 0;
  font-style: normal;
}
address {
  display: block;
  font-style: italic;
}
.footer-links {
  list-style: none;
  padding: 0;
}
.footer-type {
  color: var(--footerlinks);
}
.footer-links-li-margin {
  margin: 9px 0 9px 0;
}
.footer-header {
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  margin-left: 70px;
  margin-bottom: 20px;
  font-weight: 14px;
}
.footer-section {
  flex-direction: column;
  color: var(--white);
  display: flex;
  flex-direction: row;
}
.footer-icons {
  display: flex;
  gap: 10px;
  margin-left: 70px;
  list-style: none;
  padding: 0;
}
.footer-icon {
  width: 44px;
  height: 44px;
  background-color: var(--footericon);
  border-radius: 50%;
  fill: none;
}
.footer-icon:hover,
.footer-icon:focus,
.our-crew-icon:hover,
.our-crew-icon:focus {
  background-color: var(--blue);
  fill: var(--white);
  cursor: pointer;
}
.sign-up-header {
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  margin: 20px 0 20px 78px;
  font-weight: 14px;
}
.sign-up {
  background-color: rgba(0, 0, 0, 0);
  border: solid rgba(255, 255, 255, 0.3) 1px;
  border-radius: 4px;
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px;
  margin-left: 74px;
  font-size: 16px;
}
.sign-up-button {
  background-color: var(--blue);
  color: var(--white);
  width: 200px;
  height: 50px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border-style: none;
  margin-left: 12px;
  text-align: left;
  padding-left: 58px;
  cursor: pointer;
}
.sign-up-button-logo {
  fill: var(--white);
  position: absolute;
  width: 50px;
  height: 24px;
}

/* footer style> logo + adres + tel+email ----------------------------------*/

.backdrop {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(000, 000, 000, 0.5);
  position: fixed;
  transition: all 250ms ease-in;
}
.order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--white);
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 10px;
  color: var(--grey);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease-in;
}
.order-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.172;
  color: var(--notblack);
  margin: 40px 0 20px 0;
}
.order-header .title {
  font-size: 20px;
  font-weight: bold;
}
.order-header .close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.modal-body {
  padding: 10px 15px;
}
.person-contacts {
  fill: var(--notblack);
  width: 15px;
  height: 13px;
  position: absolute;
}
.order-hover {
  padding: 10px 15px;
}
.modal-body {
  padding: 10px 15px;
}
.modal-body {
  padding: 10px 15px;
}
.modal-body {
  padding: 10px 15px;
}
.modal-body {
  padding: 10px 15px;
}
